<header>
    <div class="up-header">
        <div class="left-header">
            <h1><%= link_to  "ГрГУ", root_path %></h1>
            <%= image_tag("logo.png", id: "logo")%>
        </div>
        <div class="right-header">
            <p><%= link_to  "Календарь событий", home_calendars_path %> ⋅ <%= link_to  "Услуги", "https://market.grsu.by" %> ⋅ <a href="#">Новости</a> ⋅ <%= link_to  "Справочник", home_directories_path %> <a href="#" id = "search"><i class="fa fa-search" aria-hidden="true"></i> Поиск</a> <a href="#" id = "info">Инфо для ... <span>▼</span></a></p>
        </div>
        <div class="info-block">
            <div class="con-info">
                <a href="#">Абитуриентов</a>
                <hr>
                <a href="#">Студентов</a>
                <hr>
                <a href="#">Персонала</a>
                <hr>
                <a href="#">Выпускников</a>
            </div>
        </div>
        <div class="menu">
            <a href="#">О ГрГУ</a>
            <a href="#">Образование</a>
            <a href="#">Приём</a>
            <a href="#">Наука и Исследования</a>
            <a href="#">Жизнь Университета</a>
        </div>
    </div>
</header>
